@model List<ResultCustomerDtos>
@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h1 class="text-center my-4">Kayıtlı Müşteriler</h1>

@* @* <div class="mb-3" style="text-align: left;">
    <select id="status" class="form-select form-select-sm" style="width: 200px; font-size: 0.85rem;">
        <option value="">Tüm Siparişler</option>
        @foreach (OrderStatusType status in Enum.GetValues(typeof(OrderStatusType)))
        {
            var statusName = status.GetType()
            .GetMember(status.ToString())
            .FirstOrDefault()
            ?.GetCustomAttributes(typeof(DisplayAttribute), false)
            .Cast<DisplayAttribute>()
            .FirstOrDefault()?.Name ?? status.ToString();

            <option value="@status">@statusName Siparişler</option>
        }
    </select>
</div> *@

<table class="table table-striped" id="customersTable">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Müşteri Adı</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Bütçe</th>
            <th>Müşteri Türü</th>
            <th>Total Harcama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr class="order-row">
                <td>@customer.CustomerID</td>
                <td>@customer.CustomerName</td>
                <td>@customer.CustomerEmail</td>
                <td>@customer.Adress</td>
                <td>@customer.Budget</td>
                <td>@customer.CustomerType</td>
                <td>@customer.TotalSpent.ToString("C2")</td>
                <td></td>

            </tr>
        }
    </tbody>
</table>



<style>
    table.table {
        width: 100%;
        border-collapse: collapse;
    }

        table.table th, table.table td {
            padding: 12px;
            text-align: center;
        }

        table.table th {
            background-color: #f8f9fa;
            color: #333;
            font-weight: bold;
        }

        table.table tbody tr:hover {
            background-color: #f1f1f1;
            transition: background-color 0.3s ease;
        }

    .product-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

        .product-image:hover {
            transform: scale(1.1);
        }

    .badge {
        font-size: 0.85rem;
        padding: 5px 10px;
        border-radius: 12px;
        text-transform: capitalize;
    }

    table.table tbody tr:nth-child(odd) {
        background-color: #fafafa;
    }

    table.table-bordered {
        border: 1px solid #ddd;
    }

        table.table-bordered th, table.table-bordered td {
            border: 1px solid #ddd;
        }

</style>
